<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 >Conciertos</h1>
        <table>



            <thead class="thead-dark">
                <tr>
                    <th scope="col">Artista </th>
                    <th scope="col">Costo </th>
                    <th scope="col">Capacidad </th>
                    <th scope="col">Lugar </th>
                    <th scope="col">Fecha </th>
                   
                </tr>
            </thead>



            <tbody>
            <th:block th:each="user : ${concierto}">
                <tr>
                    <td th:text="${user.getArtista}"></td>
                    <td th:text="${user.getCosto}"></td>
                    <td th:text="${user.getCapacidad}"></td>
                    <td th:text="${user.getLugar}"></td>
                    <td th:text="${user.getFecha}"></td>
                    <td>
                        <a th:href="@{/delete/{id}(id=${user.getId})}">Delete</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>

